body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}

.header {
  height: 100vh;
  background-image: url("https://pathfiinder.github.io/MoGo/images/header__bgc-image.png");
  background-repeat: no-repeat;
  background-size: 150% 100%;
  background-position-x: -120px;
}

@media (min-width: 568px) {
  .header {
    background-size: 100% 100%;
    background-position-x: 0;
  }
}

.navbar .navbar-brand {
  font-size: x-large;
}

@media (min-width: 1024px) {
  .navbar .navbar-brand {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .navbar .navbar-nav .nav-item {
    padding-right: 15px;
  }
}

@media (min-width: 1024px) {
  .navbar .navbar-nav .nav-link {
    font-size: 25px;
  }
}

.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
  color: #fce38a !important;
  font-weight: bold;
  position: relative;
}

.navbar .navbar-nav .nav-after:hover:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 90%;
  background-color: #fce38a;
  left: 50%;
  bottom: 0;
  width: 90px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 576px) {
  .navbar .navbar-nav .nav-after:hover:after {
    width: 90%;
  }
}

.header-wrapper {
  height: calc(100vh - 50px);
  position: relative;
}

.header-wrapper .container {
  height: 95%;
  padding-top: 5%;
}

.carousel .carousel-indicators {
  margin: 0 auto;
  height: 10px;
  width: 90%;
}

.carousel .carousel-indicators li[data-target="#carouselId"] {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 8px;
  cursor: pointer;
  margin-top: 1px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
}

.carousel .carousel-indicators li[data-target="#carouselId"].active {
  background-color: white;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item {
  height: 100%;
  position: relative;
}

.carousel .carousel-inner .carousel-h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: xx-large;
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

@media (min-height: 812px) {
  .carousel .carousel-inner .carousel-h1 {
    top: 60px;
  }
}

@media (min-width: 568px) {
  .carousel .carousel-inner .carousel-h1 {
    top: 0px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .carousel .carousel-inner .carousel-h1 {
    top: 80px;
    font-size: 72px;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .carousel .carousel-inner .carousel-h1 {
    top: 80px;
    font-size: 72px;
  }
}

.carousel .carousel-inner .carousel-h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-height: 812px) {
  .carousel .carousel-inner .carousel-h2 {
    top: 180px;
  }
}

@media (min-width: 568px) {
  .carousel .carousel-inner .carousel-h2 {
    top: 50px;
    font-size: 40px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .carousel .carousel-inner .carousel-h2 {
    top: 240px;
    font-size: 72px;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .carousel .carousel-inner .carousel-h2 {
    top: 240px;
    font-size: 72px;
  }
}

.carousel .carousel-inner .btn-outline-light:before {
  content: "";
  position: absolute;
  bottom: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 60px;
  border-radius: 10px;
  background-color: white;
}

@media (min-height: 812px) {
  .carousel .carousel-inner .btn-outline-light:before {
    bottom: 160px;
  }
}

@media (min-width: 568px) {
  .carousel .carousel-inner .btn-outline-light:before {
    display: none;
  }
}

@media (min-width: 731px) {
  .carousel .carousel-inner .btn-outline-light:before {
    display: block;
    bottom: 90px;
  }
}

@media (min-width: 812px) {
  .carousel .carousel-inner .btn-outline-light:before {
    bottom: 70px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .carousel .carousel-inner .btn-outline-light:before {
    bottom: 250px;
    height: 5px;
    width: 100px;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .carousel .carousel-inner .btn-outline-light:before {
    bottom: 120px;
    height: 5px;
    width: 100px;
  }
}

.carousel .carousel-inner .btn-outline-light {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 3px solid white;
  font-weight: bold;
}

@media (min-height: 812px) {
  .carousel .carousel-inner .btn-outline-light {
    bottom: 150px;
  }
}

@media (min-width: 568px) {
  .carousel .carousel-inner .btn-outline-light {
    bottom: 30px;
  }
}

@media (min-width: 640px) {
  .carousel .carousel-inner .btn-outline-light {
    bottom: 50px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .carousel .carousel-inner .btn-outline-light {
    bottom: 150px;
    height: 80px;
    width: 280px;
    font-size: 32px;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .carousel .carousel-inner .btn-outline-light {
    bottom: 100px;
    height: 80px;
    width: 280px;
    font-size: 32px;
  }
}

.carousel .carousel-inner .btn-outline-light:hover {
  background-color: transparent;
  color: #fce38a;
  border-color: #fce38a;
}

.about-us .container {
  height: 100%;
}

.about-us .container .about-us__wrapper {
  min-height: 205px;
  max-height: 250px;
  overflow: hidden;
}

.about-us .container .about-us__wrapper .about-us__title {
  font-family: "Kaushan Script";
  font-size: x-large;
}

.about-us .container .about-us__wrapper .about-us__subtitle {
  position: relative;
}

.about-us .container .about-us__wrapper .about-us__subtitle:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 30px;
  background-color: red;
}

.about-us .container .about-us__wrapper .about-us__content {
  color: #999999;
  font-size: 13px;
}

.stats {
  background-color: #95e1d3;
  height: 200px;
}

.stats .row {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .stats .row .stats__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    max-width: 20%;
    height: 100%;
    margin-top: 33.45px;
  }
}

@media (min-width: 778px) {
  .stats .row .stats__item {
    margin-top: 45px;
  }
}

@media (min-width: 576px) {
  .stats .row .stats__item .stats__desc {
    font-size: 1.2rem;
  }
}

.services .container .services__wrapper .services__title {
  font-family: "Kaushan Script";
  font-size: x-large;
}

.services .container .services__wrapper .services__subtitle {
  position: relative;
}

.services .container .services__wrapper .services__subtitle:before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 80px;
  background-color: red;
}

@media (max-width: 575px) {
  .services .container .row {
    min-height: 718px;
  }
}

@media (min-width: 576px) {
  .services .container .row {
    min-height: 500px;
  }
}

.services .container .row .row-item {
  position: relative;
}

.services .container .row .row-item .services__icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #95e1d3;
  width: 32px;
  height: 31px;
  font-size: 26px;
  padding-left: 3px;
  line-height: 31px;
}

.services .container .row .row-item .services__title {
  position: absolute;
  top: 10px;
  left: 50px;
}

@media (min-width: 576px) {
  .services .container .row .row-item .services__title {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .services .container .row .row-item .services__title {
    font-size: 1.5rem;
  }
}

.services .container .row .row-item .services__content {
  font-size: 15px;
  color: #999999;
  position: absolute;
  top: 50px;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.design .container .design__wrapper .design__title {
  font-family: "Kaushan Script";
  font-size: x-large;
}

.design .container .design__wrapper .design__subtitle {
  position: relative;
}

.design .container .design__wrapper .design__subtitle:before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 70px;
  background-color: red;
}
/*# sourceMappingURL=main.css.map */