@import "utlils/_variables.sass"

    
    
body
    padding: 0
    margin: 0
    box-sizing: border-box    
    min-width: 320px
    
    
    
    
    
    
    
@import "components/_header.sass"
@import "components/_about-us.sass"
@import "components/_stats.sass"
@import "components/_services.sass"
@import "components/_design.sass"
@import "components/_services2.sass"
@import "components/_quotes.sass"
@import "components/_team.sass"
@import "components/_logos.sass"
@import "components/_work.sass"
@import "components/_quotes2.sass"
@import "components/_people-say.sass"