
.header
    height: 100vh
    min-height: 100vh
    background-image: url("https://pathfiinder.github.io/MoGo-PSD-to-HTML/images/header__bgc-image.png")
    background-repeat: no-repeat
    background-size: 150% 100%
    background-position-x: -120px
    @media (min-width: 568px)
        background-size: 100% 100%
        background-position-x: 0
   

.navbar
    .navbar-brand
        font-size: x-large
        @media (min-width: 1024px)
            font-size: 35px

.navbar .navbar-nav .nav-item
    @media (min-width: 1024px)
        padding-right: 15px                
.navbar .navbar-nav .nav-link
    @media (min-width: 1024px)
        font-size: 25px


.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover 
    color: #fce38a !important
    font-weight: bold
    position: relative
.navbar .navbar-nav .nav-after:hover:after
    content: ""
    position: absolute 
    height: 3px
    width: 90%
    background-color: #fce38a
    left: 50%
    bottom: 0
    width: 90px
    transform: translateX(-50%)
    @media (min-width: 576px)
        width: 90%
       


.header-wrapper
    height: calc(100vh - 50px) 
    position: relative
    .container
        height: 95%
        padding-top: 5%
        .carousel
            .carousel-indicators
                margin: 0 auto
                height: 10px
                width: 90%
                li[data-target="#carouselId"]
                    flex-basis: 25%
                    height: 8px
                    cursor: pointer
                    margin-top: 1px
                    border-radius: 10px
                    border: 1px solid white
                    background-color: transparent
                li[data-target="#carouselId"].active
                    background-color: white
            .carousel-inner
                height: 100%
                .carousel-item
                    height: 100%
                    position: relative
                    .carousel-h1
                        font-family: 'Kaushan Script', cursive
                        font-size: xx-large
                        position: absolute
                        top: 40px
                        left: 50%
                        transform: translateX(-50%)
                        width: 100%
                        @media (min-height: 812px)
                            top: 60px
                        @media (min-width: 568px)
                            top: 0px
                        @media (min-width: 768px) and (min-height: 1024px)
                            top: 80px
                            font-size: 72px
                        @media (min-width: 1024px) and (min-height: 768px)
                            top: 60px
                            font-size: 72px
                        @media (min-width: 1280px)
                            top: 40px
                            font-size: 90px
                    .carousel-h2
                        text-transform: uppercase
                        font-weight: bold
                        font-size: 50px
                        position: absolute
                        top: 120px
                        left: 50%
                        transform: translateX(-50%)
                        @media (min-height: 812px)
                            top: 180px
                        @media (min-width: 568px)
                            top: 50px
                            font-size: 40px
                        @media (min-width: 768px) and (min-height: 1024px)
                            top: 240px
                            font-size: 72px
                        @media (min-width: 1024px) and (min-height: 768px)
                            top: 180px
                            font-size: 72px
                        @media (min-width: 1280px)
                            top: 150px
                            font-size: 100px
                    .btn-outline-light:before
                        content: ""
                        position: absolute
                        bottom: 110px
                        left: 50%
                        transform: translateX(-50%)
                        height: 3px
                        width: 60px
                        border-radius: 10px
                        background-color: white
                        @media (min-height: 812px)
                            bottom: 160px
                        @media (min-width: 568px)
                            display: none
                        @media (min-width: 731px)
                            display: block
                            bottom: 90px
                        @media (min-width: 812px)
                            bottom: 70px
                        @media (min-width: 768px) and (min-height: 1024px)
                            bottom: 250px
                            height: 5px
                            width: 100px
                        @media (min-width: 1024px) and (min-height: 768px)
                            bottom: 120px
                            height: 5px
                            width: 100px
                    .btn-outline-light
                        position: absolute
                        bottom: 80px
                        left: 50%
                        transform: translateX(-50%)
                        border: 3px solid white
                        font-weight: bold
                        @media (min-height: 812px)
                            bottom: 150px
                        @media (min-width: 568px)
                            bottom: 30px
                        @media (min-width: 640px)
                            bottom: 50px
                        @media (min-width: 768px) and (min-height: 1024px)
                            bottom: 150px
                            height: 80px
                            width: 280px
                            font-size: 32px
                        @media (min-width: 1024px) and (min-height: 768px)
                            bottom: 100px
                            height: 80px
                            width: 280px
                            font-size: 32px
                        &:hover
                            background-color: transparent
                            color: #fce38a
                            border-color: #fce38a
            