.map
    height: 200px
    position: relative
    &::after
        content: ""
        opacity: 0.4
        top: 0
        left: 0
        bottom: 0
        right: 0
        position: absolute
        z-index: -1  
        background-image: url("https://pathfiinder.github.io/MoGo/images/map.png")
        background-repeat: no-repeat
        background-size: 100% 100%
        background-color: rgba(255,255,255,1)